<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div style="text-align: center">
    <h1>Registration </h1>
</div>
<div  ng-if="anyError">
<div class="alert alert-danger">
    <strong>{{errorMessage}}</strong>
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <form>
                <fieldset>
                    <legend class="text-center">Valid information is required to register. <span class="req"><small>
                                required *</small></span></legend>

                    <div class="form-group">
                        <label for="username"><span class="req">* </span> Username: <small>This will be your login user
                                name</small> </label>
                        <input required type="text" [(ngModel)]="user.userName" name="username" id="name"
                            class="form-control phone" maxlength="28" placeholder="Enter your username" />
                    </div>

                    <div class="form-group">
                        <label for="password"><span class="req">* </span> Password: </label>
                        <input class="form-control" type="text" [(ngModel)]="user.userPassword" name="userPasswrod" id="txt" required
                            placeholder="Enter valid password" />
                        <div id="errFirst"></div>
                    </div>

                    <div class="form-group">
                        <label for="UserType"><span class="req">* </span> Role : </label>
                        <input class="form-control" type="text" [(ngModel)]="user.userType" name="role" id="txt"
                            placeholder="Enter your role" required />
                        <div id="errLast"></div>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-success" type="submit" name="submit_reg" value="Register" (click)="registerNow()">
                    </div>
                </fieldset>
            </form><!-- ends register form -->
            <!-- second for to fiter user-->
        </div><!-- ends col-6 -->

    </div>
    <br><br>
    <div class="row">
        <div style="text-align: center" >
            <h5><b><a routerLink="/login">Already have a account ! Click here to Login</a></b></h5>
        </div>
    </div>
</div>
